body {
  font-family: 'Syne Mono', monospace;
  margin: auto;
  max-width: 1280px;
}

h1 {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 4em;
}

h2 {
  font-family: 'Syne Mono', monospace;
  font-size: 2em;
}

.club-name {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 1.2em;
}
